<footer>
    <div class="container d-flex justify-content-between wapper-footer">
        <p><strong>©Fabi Confeitos.</strong> <br> Todos os direitos reservados.</p>
        <div class="contato">
            <p>
                <strong>Celular:</strong> (11) 93204-2452 <br>
                <strong>E-mail:</strong> contato@fabiconfeitos.com.br</p>
        </div>
        <div>
            <a href="https://www.instagram.com/fabiconfeitos.oficial" target="_blank">
                <i class="bi bi-instagram ms-3"></i>
            </a>
            <i class="bi bi-facebook ms-3"></i>
        </div>
    </div>
</footer>