
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 img box-img d-flex align-items-center">
      <img [src]="imageUrl()" class="img-product" [alt]="title()">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title title-imperial">{{ title() }}</h5>
        
        <p class="card-text">
            {{ description() }}
        </p>

        <p class="card-text fw-bold">{{ price() }}</p>        
      </div>
    </div>
  </div>
</div>