.enterprise {
    display: flex;
    flex-direction: row;
    @media (max-width: 576px) {
        flex-direction: column;
        text-align: center;
        p {
            font-size: 1rem !important;
        }
    
        img {
            margin: auto;
        }
    }
}